
body{

  background-color:#F3EBF6 ;
}
#navbar {
  position: fixed;
  top: 0px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: #F3EBF6;
}

#navbar a {
  text-decoration: none;
  display: block;
  padding: 1em;
  font-size: 1.15em;
  font-weight: bold;
  color: #8C55AA;
  font-family: 'Ubuntu', sans-serif;
}

#navbar a:hover {
  background: #F3EBF6;
}
#il{
  color: black;
  float: center;
}
#box1{
  
    height: 320px;
    width: 300px;
  background-color:#e7aa54;
    background-color:;
   
}
#box2{
  
  height: 320px;
  width: 300px;
  background-color:#e7aa54;
  margin-left: 110px;
  
}
#box3{
  
  height: 320px;
  width: 300px;
  background-color:#e7aa54;
  margin-left: 110px;
  
}

#box1:hover{
  box-shadow: 0 7px 14px 0 rgba(10, 1, 1, 0.2);
}
#box2:hover{
  box-shadow: 0 7px 14px 0 rgba(10, 1, 1, 0.2);

}
#box3:hover{
  box-shadow: 0 7px 14px 0 rgba(10, 1, 1, 0.2);

}

#tp{
  float:center;
  text-align:center;
  padding-top: 150px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}
#tp a{
  text-decoration: none;
  color: black;
}
#tp a:visited{
  text-decoration: none;
  color: black;
}
  


